<!DOCTYPE html>
<html>
<head>
  <small>Ingresado como <strong><%= current_user.name %></strong>!</small>
  <%= link_to "Salir", signout_path, id: "sign_out" %>
<style>
.center {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
}
.right {
      float: right;
      width: 300px;
}
.left {
      float: left;
      width: 300px;
}
</style>

<center><h1>Crear una nueva solicitud de transporte</h1></center>
<h3>Establezca las condiciones de la solicitud</h3>

</head>
<body>
<form id="auction_form">
  <div>
    <div>
      <div>
        <p>Hora de Inicio</p>
        <%= tag("input", type: "integer") %>
      </div>
      <div>
        <p>Hora de Cierre</p>
        <%= tag("input", type: "integer")%>
      </div>
    </div>
  </div>
  <div></div>
  <div>
    <div>
      <div>
        <div>
          <p>Dia para recoger el paquete</p>
          <%= tag("input", type: "text")%>
        </div>
        <div>
          <p>Hora para recoger el paquete</p>
          <%= tag("input", type: "integer")%>
        </div>
      </div>
      <div>
        <p>Direccion para recoger el paquete</p>
        <%= tag("input", type: "text")%>
      </div>
    </div>
  </div>
  <div></div>
  <div>
    <div>
      <div>
        <div>
         <p>Dia de Entrega del paquete</p>
         <%= tag("input", type: "text")%>
        </div>
        <div>
         <p>Hora de Entrega del paquete</p>
         <%= tag("input", type: "integer")%>
        </div>
       </div>
      <div>
        <p>Direccion de Entrega del paquete</p>
        <%= tag("input", type: "text")%>
      </div>
     </div>
    </div>
  <div>
   <p>Presupuesto</p>
   <%= tag("input", type: "integer")%>
  </div>
  <div>
   <p>Tipo de Paquete</p>
   <%= tag("input", type: "text")%>
  </div>
  <div>
    <br>
   <%= tag("input", type:"submit", value:"Enviar Solicitud") %>
  </div>
</form>
</body>
</html>
