<!DOCTYPE html>
<html>
<head>
  <small>Ingresado como <strong><%= current_user.name %></strong>!</small>
  <%= link_to "Salir", signout_path, id: "sign_out" %>
<style>
.center {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
}
.right {
      float: right;
      width: 300px;
}
.left {
      float: left;
      width: 300px;
}
</style>

<center><h1>Crear una nueva solicitud de transporte</h1></center>
<h3>Establezca las condiciones de la solicitud</h3>

</head>
<body>
<%= form_for :auction, url: auction_index_path  do |f|%>
   <% if @auction.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@auction.errors.count, "Falla") %>
    prohiben salvar la solicitud:</h2>
    <ul>
    <% @auction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div>
    <div>
      <div><%= f.hidden_field :user_id, :value => current_user.id%></div>
      <div>
        <p>Hora de Inicio</p>
        <%= f.number_field :start_auction_at, :step => 1, :in => 1 ... 24%><br>
      </div>
      <div>
        <p>Hora de Cierre</p>
        <%= f.number_field :end_auction_at, :step => 1, :in => 1 ... 24%><br>
      </div>
    </div>
  </div>
  <div></div>
  <div>
    <div>
      <div>
        <div>
          <p>Dia para recoger el paquete</p>
          <%= f.select :day_to_pick , options_for_select(["Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado"])%><br>
        </div>
        <div>
          <p>Hora para recoger el paquete</p>
          <%= f.number_field :hour_to_pick, :step => 1, :in => 1 ... 24%><br>
        </div>
      </div>
      <div>
        <p>Direccion para recoger el paquete</p>
        <%= f.text_field :direction_to_pick %><br>
      </div>
    </div>
  </div>
  <div></div>
  <div>
    <div>
      <div>
        <div>
         <p>Dia de Entrega del paquete</p>
         <%= f.select :day_to_deliver , options_for_select(["Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado"])%><br>
        </div>
        <div>
         <p>Hora de Entrega del paquete</p>
         <%= f.number_field :hour_to_deliver , :step => 1, :in => 1 ... 24%><br>
        </div>
       </div>
      <div>
        <p>Direccion de Entrega del paquete</p>
        <%= f.text_field :direction_to_deliver%><br>
      </div>
     </div>
    </div>
  <div>
   <p>Presupuesto</p>
   <%= f.number_field :budget, :step => 1000, :in => 1000 ... 1000000 %><br>
  </div>
  <div>
   <p>Tipo de Paquete</p>
   <%= f.select :kind_of_package , options_for_select(["Pequeno Encajable","Pequeno Irregular", "Mediano Encajable","Mediano Irregular","Grande Encajable","Grande Irregular", "Otros"])%><br>
  </div>
  <div>
    <br>
    <%= f.submit "Crear Solicitud"%><br>
  </div>
<% end %>
<%= link_to 'Regresar al perfil', user_profile_show_path %>
</body>
</html>
