<p>
  <strong>Caracteristicas de la Solicitud:</strong>
</p>
<p>
    <strong>La solicitud empieza a las:</strong>
    <%= @auction.start_auction_at %>
</p>
<p>
    <strong>La solicitud termina a las:</strong>
    <%= @auction.end_auction_at %>
</p>
<p>
    <strong>Recoger el paquete el dia:</strong>
    <%= @auction.day_to_pick %>
</p>
<p>
    <strong>A las:</strong>
    <%= @auction.hour_to_pick %>
</p>
<p>
    <strong>En la direccion:</strong>
    <%= @auction.direction_to_pick %>
</p>
<p>
    <strong>Entregar el paquete el dia:</strong>
    <%= @auction.day_to_deliver %>
</p>
<p>
    <strong>A las:</strong>
    <%= @auction.hour_to_deliver %>
</p>
<p>
    <strong>En la direccion:</strong>
    <%= @auction.direction_to_deliver %>
</p>
<p>
    <strong>El consumidor podria pagar:</strong>
    <%= @auction.budget %>
</p>
<p>
    <strong>La mercaderia a transportar es:</strong>
    <%= @auction.kind_of_package %>
</p>
