<!DOCTYPE html>
<html>
<head>
  <small>Ingresado como <strong><%= current_user.name %></strong>!</small>
  <%= link_to "Salir", signout_path, id: "sign_out" %>
  <script src="app/assets/javascripts/user_profile.js"></script>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Perfil del Usuario</h1>
  <br>
  <center><p>Dale click al boton para solicitar convertirte en un transportista</p></center>
  <center>
    <button onclick="requestForCarrier()">Convertirme en Transportista</button>
  </center>
  <center>
    <form action="../auction/new" method="get">
      <button type="submit">Nueva Solicitud de Transporte</button>
    </form>
  </center>
  <center><p><strong>Lista de Solicitudes</strong></p></center>
  <table>
    <tr>
       <th>Empieza</th>
       <th>Termina</th>
       <th>Dia de Salida</th>
       <th>Hora de Salida</th>
       <th>Direccion de Salida</th>
       <th>Dia de Entrega</th>
       <th>Hora de Entrega</th>
       <th>Direccion de Entrega</th>
       <th>Prupuesto Estipulado</th>
       <th>Tipo de Carga</th>
    </tr>

    <% @auctions_list.each do |auction| %>
      <tr>
        <td><%= auction.start_auction_at %></td>
        <td><%= auction.end_auction_at %></td>
        <td><%= auction.day_to_pick %></td>
        <td><%= auction.hour_to_pick %></td>
        <td><%= auction.direction_to_pick %></td>
        <td><%= auction.day_to_deliver %></td>
        <td><%= auction.hour_to_deliver %></td>
        <td><%= auction.direction_to_deliver %></td>
        <td><%= auction.budget %></td>
        <td><%= auction.kind_of_package %></td>
        <td><%= link_to 'Mostrar', auction_path(auction) %></td>
        <td><%= link_to 'Editar', edit_auction_path(auction) %></td>
        <td><%= link_to 'Destroy', auction_path(auction),
                method: :delete, data: { confirm: 'Seguro quieres borrarlo?' } %></td>
      </tr>
    <% end %>
  </table>
  <footer>
    <p>Pernix Solutions - 2014</p>
  </footer>
</body>
</html>
